# SPDX-FileCopyrightText: 2023, Rylie Pavlik
# SPDX-License-Identifier: CC0-1.0

Erik Sohns <erik.sohns@posteo.de>
Erik Sohns <erik.sohns@posteo.de> <esohns@users.noreply.github.com>
Rylie Pavlik <rylie.pavlik@collabora.com>
Rylie Pavlik <rylie.pavlik@collabora.com> <rpavlik@iastate.edu>
Rylie Pavlik <rylie.pavlik@collabora.com> <ryan.pavlik@collabora.com>
Rylie Pavlik <rylie.pavlik@collabora.com> <ryan.pavlik@gmail.com>
Rylie Pavlik <rylie.pavlik@collabora.com> <ryan@sensics.com>
